/* style.css */
body{
  background: rgb(245,245,245);
  color: black;
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
  color: purple;
  font-weight: lighter;
  font-size: 18px;
}
h2 {
  font-family: 'Anton', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
  color: purple;
  font-weight: bold;
  font-size: 25px;
}
a {
  color: grey;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
  color: black;
}

#baseline p {
  font-weight: bold; 
  color:pink;
  font-size: 14px;
}